@import './theme.css';

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-200);
}

*::selection {
  background-color: hsl(from var(--accent-main-highlight) h s l / 0.3);
}

.lucide {
  stroke-width: 1.5px;
}
